body {
  margin: 2rem;
}

h2 {
  border-bottom: 2px solid #ccc;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.img-div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 200px;
}

p {
  margin: 0;
}

a {
  word-break: break-all;
}